.button {
    -fx-background-color: #005F99;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #A9A9A9;
}

.label-style {
    -fx-font-size: 15px;
    -fx-font-family: "Arial";
    -fx-text-fill: #000000;
    -fx-padding: 10px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
}

.radio-button {
    -fx-font-size: 15px;
    -fx-font-family: "Arial";
    -fx-padding: 8px;
}

.background {
    -fx-background-color: #a3a3c9;
}

.list-view {
    -fx-control-inner-background: #a3a3c9;
}

.list-cell {
    -fx-font-size: 20px;
    -fx-background-color: #a3a3c9;
    -fx-text-fill: #000000;
    -fx-padding: 10px;
}

.list-cell:selected {
    -fx-background-color: #007ACC;
    -fx-text-fill: white;
}


